mixin Parameters(params)
  .parameter
    .title
      strong URI Parameters
    .parameter__content
      dl.inner
        each param in params || []
          .dl-row
            .dl-row__content
              dt
                .parameter-name= self.urldec(param.name)
                if [param].required
                  .parameter-meta= param.type  + ' (required)'
                else
                  .parameter-meta= param.type + ' (optional)'
              dd
                != self.markdown(param.description)

mixin RequestResponse(title, request, collapse)
  .title
    strong
      = title
      if request.name
        | &nbsp;&nbsp;
        code= request.name
    if collapse && request.hasContent
      .collapse-button
        span.close Hide
          span.open Show
  +RequestResponseBody(request, collapse)

mixin RequestResponseBody(http, collapse, showBlank)
  if http.hasContent || showBlank
    div(class=collapse ? 'collapse-content' : ''): .inner
      if http.description
        .description!= self.markdown(http.description)

      if Object.keys(http.headers).length
        h5 Headers
        pre: code
          each item, index in http.headers
            != self.highlight(item.name + ': ' + item.value, 'http')
            if index < http.headers.length - 1
              br
        div(style="height: 1px;")

    if http.body
        h5 Body
        pre: code
          != self.highlight(http.body, null, ['json', 'yaml', 'xml', 'javascript'])
        div(style="height: 1px;")

    if !http.hasContent
      .description.text-muted This response has no content.
      div(style="height: 1px;")

mixin Responses(responses)
  .tabs
    .title
      h3 Response
    span.example-names
      each response in responses
        span.tab-button= response.name
    each response in responses
      .tab
        +RequestResponseBody(response, false, true)


mixin Requests(requests)
  each request in requests
    .tab
      +RequestResponseBody(request, false, true)

mixin ExamplesToggle(action)
  a.method.action-example-toggle(class=action.methodLower href="#").
    Examples
    #[i.fa.fa-chevron-down]

mixin Examples(action)
  .action-wrap
    if action.hasRequest
      .title
        h3 Request
      .tabs
        each example in action.examples
          +Requests(example.requests)

    each example in action.examples
      +Responses(example.responses)

mixin Action(action)
  if action.description
    != self.markdown(action.description)

  //- A list of sub-sections for parameters, requests
  //- and responses.
  if action.parameters.length
    +Parameters(action.parameters)

  if action.requestAttributes.length
    .parameter
      .title
        strong Request Attributes
      .parameter__content
        dl.inner
          each attribute in action.requestAttributes
            +Property(attribute)

  if action.responseAttributes.length
    .parameter
      .title
        strong Response Attributes
      .parameter__content
        dl.inner
          each attribute in action.responseAttributes
            +Property(attribute)

mixin Property(property)
  .dl-row
    .dl-row__content
      dt
        .parameter-name= property.name
        if property.required
          .parameter-meta= property.type + ' (required)'
        else
          .parameter-meta= property.type + ' (optional)'
      dd
        if property.description
          p!= self.markdown(property.description)
        else
          p

  if property.properties.length
    .parameter.nested
      .title
        .collapse-button
          span.close Hide child attributes
          span.open Show child attributes
      .collapse-content
        .dl-inner
          each inner in property.properties
            +Property(inner)
