doctype

include mixins.jade

html
head
  meta(charset="utf-8")
  title= self.api.name || 'API Documentation'
  //- For EV
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  style!= self.css
body.preload
  div.container-fluid
    .row
      block nav
        +Nav()

      .content
        .middle
          if self.api.descriptionHtml
            != self.api.descriptionHtml

        //- Loop through and display information about all the resource
        //- groups, resources, and actions.
        each resourceGroup in self.api.resourceGroups || []
          .middle
          each resource in resourceGroup.resources || []
            .middle
              .resource(id=resource.elementId)
                  h3.resource-heading
                    != resource.name || ((resource.actions[0] != null) && resource.actions[0].name) || 'Resource'
                    = " "
                    a.permalink(href=resource.elementLink) &para;
                  if resource.description
                    != self.markdown(resource.description)

              each action in resource.actions || []
                  .action-wrap
                    if action.examples
                      div
                        .definition
                          span.method(class=action.methodLower)= action.method
                          | &nbsp;
                          span.uri
                            span.hostname= ''
                            != action.getResourceHost
                            != action.colorizedUriTemplate

                        .tabs
                          if action.hasRequest
                            .example-names
                                span Request
                              each example in action.examples
                                each request in example.requests
                                  .tab
                                    +RequestResponseBody(request, false, true)
                                    .tabs
                                      .example-names
                                        span Response
                                        each response in example.responses
                                          span.tab-button= response.name
                                      each response in example.responses
                                        .tab
                                          +RequestResponseBody(response, false, true)
                          else
                            each example in action.examples
                              .tabs
                                .example-names
                                  span Response
                                  each response in example.responses
                                    span.tab-button= response.name
                                each response in example.responses
                                  .tab
                                    +RequestResponseBody(response, false, true)
                    .middle
                        a.anchor(name=action.elementId)
                        h4.action-heading-name= action.name
                        .action(class=action.methodLower)
                          h4.action-heading
                            .name!= action.name
                            a.method(class=action.methodLower, href=action.elementLink)
                              = action.method
                            code.uri= self.urldec(action.uriTemplate)
                          if action.description
                            != self.markdown(action.description)

                          //- A list of sub-sections for parameters, requests
                          //- and responses.
                          if action.parameters.length
                            +Parameters(action.parameters)

                          if action.requestAttributes.length
                            .parameter
                              .title
                                strong Request Attributes
                              .parameter__content
                                dl.inner
                                  each attribute in action.requestAttributes || []
                                    .dl-row
                                      .dl-row__content
                                        dt
                                          .parameter-name= attribute.name
                                          if attribute.required
                                            .parameter-meta= attribute.type  + ' (required)'
                                          else
                                            .parameter-meta= attribute.type + ' (optional)'
                                        dd
                                          if attribute.description
                                            p!= self.markdown(attribute.description)
                                          else
                                            p

                                      // this is ugly - should loop through paramaters till no more found
                                      // auto alternatme sytles of indented content
                                      if attribute.properties.length
                                        .parameter.nested
                                          .title
                                              each property in attribute.properties || []
                                                .dl-row
                                                  .dl-row__content
                                                    dt
                                                      .parameter-name= property.name
                                                      if property.required
                                                        .parameter-meta= property.type  + ' (required)'
                                                      else
                                                        .parameter-meta= property.type + ' (optional)'
                                                    dd
                                                      if property.description
                                                        p!= self.markdown(property.description)
                                                      else
                                                        p
                                                  if property.properties.length
                                                    .parameter.nested
                                                      .title
                                                        each property_sub2 in property.properties || []
                                                          .dl-row
                                                            .dl-row__content
                                                              dt
                                                                .parameter-name= property_sub2.name
                                                                if property_sub2.required
                                                                  .parameter-meta= property_sub2.type  + ' (required)'
                                                                else
                                                                  .parameter-meta= property_sub2.type + ' (optional)'
                                                              dd
                                                                if property_sub2.description
                                                                  p!= self.markdown(property_sub2.description)
                                                                else
                                                                  p
                                                          if property_sub2.properties.length

                                                            .title
                                                              each property_sub3 in property_sub2.properties || []
                                                                .dl-row
                                                                  .dl-row__content
                                                                    dt
                                                                      .parameter-name= property_sub3.name
                                                                      if property_sub3.required
                                                                        .parameter-meta= property_sub3.type  + ' (required)'
                                                                      else
                                                                        .parameter-meta= property_sub3.type + ' (optional)'
                                                                    dd
                                                                      if property_sub3.description
                                                                        p!= self.markdown(property_sub3.description)
                                                                      else
                                                                        p




                          if action.responseAttributes.length
                            .parameter
                              .title
                                strong Response Attributes
                              .parameter__content
                                dl.inner
                                  each attribute in action.responseAttributes || []
                                    .dl-row
                                      .dl-row__content
                                        dt
                                          .parameter-name= attribute.name
                                          .parameter-meta= attribute.type
                                        dd
                                          if attribute.description
                                            p!= self.markdown(attribute.description)
                                          else
                                            p

                                      if attribute.properties.length
                                        .parameter.nested
                                          .title
                                            .collapse-button
                                              span.close Hide child attributes
                                              span.open Show child attributes
                                          .collapse-content
                                            dl.inner
                                              each property in attribute.properties || []
                                                .dl-row
                                                  .dl-row__content
                                                    dt
                                                      .parameter-name= property.name
                                                      .parameter-meta= property.type
                                                    dd
                                                      if property.description
                                                        p!= self.markdown(property.description)
                                                      else
                                                        p

  script: include scripts.js

  if self.livePreview
      script(src="/socket.io/socket.io.js")
      script.
          var socket = io();
          socket.on('refresh', refresh);
          socket.on('reconnect', function () {
              socket.emit('request-refresh');
          });
  script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93257753-1', 'auto');
      ga('send', 'pageview');
